<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel panel-heading">LISTE DES PRODUITS</div>
            <div class="panel panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>ID</th><th>NAME</th><th>PRICE</th>
                    </tr>
                    <tr th:each="p:${productss}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.price}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>